
<li><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/">Home</a></li>
<li><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/students">Students</a></li>
<li><a routerLinkActive="active" routerLink="/students/5">Student Details</a></li>
<li><a routerLinkActive="active" routerLink="/about">About</a></li>
<li><a routerLinkActive="active" routerLink="/profile">Profile</a></li>
<li><a routerLinkActive="active" routerLink="/alskaf">Error</a></li>
