<!-- <p style="color: aqua;">Welcome SD Ismailia &hearts;</p> -->
<!-- <app-first></app-first> -->
<!-- <app-second></app-second> -->

<!-- <div style="border: 1px solid black; text-align: center;"> -->
  <!-- <app-first></app-first> -->
<!-- </div> -->
<!-- <app-second></app-second> -->
<!-- <app-third></app-third> -->


<!-- Day 3 -->
<!-- <app-all-in-one></app-all-in-one> -->
 <!-- Component Interaction -->
<!-- <div>
  <p>Data: {{DataParent}}</p> -->
  <!-- <app-home [hamada]="DataParent"></app-home> -->
  <!-- <app-home [hamada]="DataFromLogin"></app-home>
  <app-login (kokoEvent)="getDataFromLogin($event)"></app-login>
  <p>Data: {{DataFromLogin}}</p>
</div> -->


<!-- <input [value]="DataParent"> -->
 <!-- <input (input)="getData($event)"> -->

 <!-- Built-In Directives VS Control Flow -->


 <!-- Day 4 -->
<!-- <app-registeration (sendStudent)="reciveStudent($event)"></app-registeration> -->
<!-- <app-students [allStudents]="students"></app-students> -->
<!-- <app-students [userName]="'Mahmoud'" [newStudent]="student"></app-students> -->

<!-- Validators -->
<!-- <app-validators></app-validators> -->

<!-- Day5 -->
<!-- Routing [SPA] -->
<!-- <div class="alert alert-primary w-75 m-auto mb-3 mt-2 text-center">
  <app-header></app-header>
</div>

<div class="alert alert-dark w-50 m-auto text-center">
  <router-outlet></router-outlet>
</div> -->

<!-- Built-In Pipes -->
<!-- <p>{{name|uppercase}}</p>
<p>{{name|lowercase}}</p>
<p>{{salary|currency}}</p>
<p>{{salary|currency:"USD"}}</p>
<p>{{salary|currency:"INR"}}</p>
<p>{{salary|currency:"EGP"}}</p>
<p>{{salary|currency:"L.E"}}</p> -->
<!-- Custom Pipe -->
<!-- <p>{{name|custom:"*"}}</p>
<p>{{name|custom:"/"}}</p>
<p>{{name|custom:"-"}}</p>
<p>{{name|custom:"0"}}</p>
<p>{{name|custom}}</p> -->

<!-- 1) Built-In Directives  -->
<!-- *ngFor - *ngIf - *ngSwitch [Structural Directive] -->
<!-- ngStyle - ngClass [Attribute Directive] -->

<!-- 2) Custom Directive [styles] -->

<!-- <p appCustom="center">Hello</p>
<p appCustom="right">Welcome</p>
<p appCustom="left">Bye Bye</p> -->

<p [appCustom]="{tAl:'center', fgC:'white', bgC:'black'}">Hello</p>
<p [appCustom]="{tAl:'right', fgC:'green', bgC:'pink'}">Welcome</p>
<p [appCustom]="{tAl:'left', fgC:'blue', bgC:'yellow'}">Bye Bye</p>
<p [appCustom]="{tAl:'', fgC:'', bgC:''}">Bye Bye</p>
<!-- <app-about appCustom></app-about> -->
