* {
  margin: 0;
}
body {
}
p {
  margin: 0;
}
.nav {
  background-image: url(/premium_photo-1661775756810-82dbd209fc95.avif);
  width: 100%;
  height: 30vh;
  background-size: cover;
  position: relative;
  background-position: center;
}

.nav h1 {
  color: rgb(255, 255, 255);
  margin: 0;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header {
  background-color: #eee;
  overflow: hidden;
}
.about {
  margin-top: 20px;
  border: rgb(124, 124, 124) 1px solid;
  border-radius: 5px;

  padding: 20px;
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
  background-color: white;
}
.about h3 {
  text-align: center;
  margin: 10px;
}
.skills {
  margin-top: 30px;
  padding: 0 250px;
}
.skills h3 {
  text-align: center;
  margin-bottom: 25px;
}
.project {
  text-align: center;
  margin-top: 30px;
  padding: 0 250px;
}
.project h3 {
  margin-bottom: 20px;
}
.project table {
  text-align: center;
  border: 1px black solid;
  margin: auto;
}
.project table thead th {
  color: white;
  padding: 15px;
  border: 1px black solid;
}
.project table thead tr {
  border: 1px black solid;
}
.project table thead .na {
  background-color: rgb(56, 103, 204);

  width: 200px;
}
.project table thead .desc {
  background-color: rgb(56, 103, 204);
  width: 700px;
}
.project table tbody .first {
  background-color: rgb(228, 228, 228);
  border: 1px black solid;
}
.project table tbody .second {
  background-color: rgb(255, 255, 255);
  border: 1px black solid;
}

.contact {
  text-align: center;
  margin-top: 40px;
}

.contact h3 {
  margin-bottom: 40px;
}
.contact a {
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: rgb(60, 150, 228);
  width: 100px;
  height: 30px;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}
.contact .icone {
  margin-bottom: 50px;
}
footer {
  text-align: center;
  padding: 20px;
  background-color: rgb(18, 16, 16);
  color: white;
}

table {
  border-collapse: collapse;
}
