* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 90%;
  margin: auto;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 50px #f6f6f6;
}
.nav-icon a {
  font-size: 16px;
  color: rgb(97, 53, 240);
  text-decoration: none;
  font-weight: 600;
}
.links ul {
  display: flex;
  text-decoration: none;
  list-style: none;
}
.links ul li {
  padding: 20px;
}
.links ul li a {
  text-decoration: none;
  color: black;
}

.hero .container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.hero .content {
  min-width: 300px;
}
.hero .content h1 {
  text-transform: capitalize;
  font-size: 36px;
}
.hero .content p {
  margin-block: 40px;
}
.hero .img {
  min-width: 300px;
}
.hero .img img {
  border-radius: 8px;
  width: 100%;
}

.hero .content .btn {
  background-color: rgb(97, 53, 240);
  text-align: start;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
}

.services {
  margin-top: 50px;
}
.services .content {
  text-align: center;
  margin-bottom: 50px;
}
.services .content h2 {
  font-size: 36px;
}
.services .content p {
  font-size: 16px;
  color: rgb(84, 84, 84);
}
.services .cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.services .card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(250, 249, 249);
  text-align: start;
  min-height: 120px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px #f6f6f6;
  width: 300px;
  flex-grow: 1;
}

.process {
  background-color: #eee;
  margin-top: 30px;
  padding: 50px 0;
}
.process .container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.process .content {
  min-width: 200px;
}
.process .content h3 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}
.process .content p {
  font-size: 14px;
}
.process .cards {
  flex: 1;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.process .card {
  flex: 1;
  min-width: 300px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 15px;
}
.process .card img {
  width: 100%;
  object-fit: cover;
}
.process .card h3 {
  margin: 10px 0 5px;
  font-size: 16px;
}
.process .card p {
  font-size: 14px;
}
.choose .card svg {
  width: 20px;
  color: rgb(97, 53, 240);
}
/* 
.choose .card svg .gold {
  color: gold;
} */
.choose {
  margin-block: 50px;
  text-align: center;
}
.choose h2 {
  margin-bottom: 30px;
}
.choose .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.choose .card {
  flex: 1;
  display: flex;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  min-width: 400px;
  background-color: rgb(245, 245, 245);
  align-items: center;
}
.choose .card div {
  padding: 20px;
}
footer {
  text-align: center;
  background-color: rgb(15, 1, 41);
  color: white;
}
footer p {
  padding: 30px 0;
}
