/* start 700 px --> infinite */
/* @media screen and (min-width: 700px) {
  body {
    background-color: red;
  }
} */

/*start from 0px  to s end point 500px  */
/* @media screen and (max-width: 500px) {
  body {
    background-color: blue;
  }
} */

/* start from 500 to end 700 */
/* @media screen and (min-width:500px) and (max-width:700px) {
    body{
        background-color: orange;
    }
} */

/* zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz */
/* zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz */
/* zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz */

.item {
  padding: 12px;
  border: 2px solid black;
}

.container-one-method {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
}

.header-one {
  /* 1fr 2fr 2fr */
  /*  1   2   3 */
  grid-column: 1/4;
  /* grid-column: 1/6; */
  background-color: lightgreen;
}

.sidebar-one {
  /* 1fr */
  /*  1 */
  grid-column: 1/2;
  background-color: lightgoldenrodyellow;
  grid-row: 2 / 4;
}

.content-one {
  /* 1fr 2fr 2fr */
  /* 1   2    3 */
  /*     2    3 */
  grid-column: 2/4;
  /* grid-column: 2/6; */
  background-color: lightsalmon;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.content-1 {
  grid-column: 1/3;
  background-color: lightskyblue !important;
}

.content-item {
  padding: 24px;
  border: 2px solid black;
  background-color: lightseagreen;
}

.footer-one {
  /* 1fr 2fr 2fr */
  /*  1   2   3 */
  grid-column: 1/4;
  /* grid-column: 1/6; */
  background-color: lightseagreen;
}

/* ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ */
/* ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ */
/* ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ */

/* .content-one {
  grid-column: 2/4;
  background-color: red;
}

.content-two {
  grid-column: 2/3;
  background-color: yellow;
}
.content-three {
  grid-column: 3/4;
  background-color: green;
} */

@media screen and (max-width: 500px) {
  .container-one-method,
  .content-one {
    grid-template-columns: 1fr;
  }
  .header-one,
  .sidebar-one,
  .content-one,
  /* .content-two, */
  .content-three,
  .footer-one,
  .content-1 {
    grid-column: 1/2;
  }
}

/* zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz */
/* method 2 */

.container-two-method {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-areas:
    "header header header"
    "sidebar content content"
    "footer footer footer";
}

.header-two {
  grid-area: header;
  background-color: lightpink;
}

.sidebar-two {
  grid-area: sidebar;
  background-color: lightseagreen;
}
.content-two {
  grid-area: content;
  background-color: lightgray;
}
.footer-two {
  grid-area: footer;
  background-color: lightgreen;
}

@media screen and (max-width: 500px) {
  .container-two-method {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "sidebar"
      "content"
      "footer";
  }
}

/* zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz */

.new-item {
  padding: 64px;
  border: 2px solid black;
}

.new-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "one one two two"
    "three four five six"
    "seven eight eight six"
    "nine ten eleven eleven";
}

.item-1 {
  grid-area: one;
  background-color: lightblue;
}

.item-2 {
  grid-area: two;
  background-color: lightcoral;
}

.item-3 {
  grid-area: three;
  background-color: lightcyan;
}

.item-4 {
  grid-area: four;
  background-color: lightgoldenrodyellow;
}

.item-5 {
  grid-area: five;
  background-color: lightgreen;
}

.item-6 {
  grid-area: six;
  background-color: lightpink;
}

.item-7 {
  grid-area: seven;
  background-color: lightsalmon;
}

.item-8 {
  grid-area: eight;
  background-color: lightseagreen;
}

.item-9 {
  grid-area: nine;
  background-color: lightcoral;
}

.item-10 {
  grid-area: ten;
  background-color: lightpink;
}

.item-11 {
  grid-area: eleven;
  background-color: lightgreen;
}

.container-three {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  gap: 24px;
  justify-content: center;

}

.box {
  /* width: 150px; */
  height: 350px;
  background-color: lightseagreen;
}
