body {
  background-color: rgb(237, 169, 44);
}
#container {
  width: 1000px;
  margin: 50px auto;
}
table {
  border: 1px solid black;
}

th,
td {
  border: 1px solid black;
  padding: 10px 80px;
  text-align: left;
}

input {
  display: block;
  margin: 10px auto;
}

form {
  text-align: center;
  padding: 10px;
}

table {
  margin: 25px auto;
}
